<div class="container px-6 py-10 mx-auto">
    <%= search_form_for @q do |f| %>
      <div class="bg-white flex items-center rounded-full shadow-md border-w-0">
        <%= f.search_field :name_or_desc_cont, class:"rounded-l-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-white", id:"search", placeholder:"Pretraži" %>
        <div class="p-4">
          <button class="bg-green-200 text-white rounded-full p-2 hover:bg-green-300 focus:outline-none w-12 h-12 flex items-center justify-center">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    <div data-controller="country" class="grid gap-4 mt-6 sm:grid-cols-2 md:grid-cols-5">
        <%= f.collection_select :zone_id_eq, Zone.order(:name), :id, :name,
                                class:"border-gray-100 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50",
                                :prompt => 'Zona' %>
        <%= f.collection_select :country_id_eq, Country.order(:name), :id, :name,
                                class:"border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50",
                                :prompt => 'Odaberi Zemlju'%>
        <%= f.grouped_collection_select :region_id_eq, Country.order(:name), :regions, :name, :id, :name,
                                class:"border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50",
                                        include_blank: true,
                                        :prompt => 'Odaberi Regiju' %>
        <%= f.collection_select :type_id_eq, Type.order(:name), :id, :name,
                                class:"border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50",
                                :prompt => 'Tip' %>
        <button
          class="px-4 py-2 font-medium tracking-wide text-white capitalize bg-green-200 rounded hover:bg-green-300 focus:outline-none focus:bg-blue-500">
          Traži
        </button>
        <%= link_to "Reset", request.path, class: "focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-yellow-500 hover:bg-yellow-600 hover:shadow-lg" %>
    <% end %>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    var contsel = "#" + $.escapeSelector('q_country_id_eq');
    var townsel = "#" + $.escapeSelector('q_region_id_eq');
    $(townsel).parent().show();
    $(contsel).change(function() {
        var townsel = "#" + $.escapeSelector('q_region_id_eq');
        var contsel = "#" + $.escapeSelector('q_country_id_eq');
        var country = $.escapeSelector($(contsel + ' :selected').text());
        var towns = $(townsel).html();
        var options = $(towns).filter("optgroup[label='" + country + "']").html();
        if (options) {
            $(townsel).parent().show();
            $(townsel).show();
            $(townsel + " optgroup").hide();
            $(townsel + " optgroup[label='" + country + "']").show();
            $(townsel).find('option:selected').prop("selected", false);
        } else {
            $(townsel).hide();
            $(townsel).parent().hide();
        }
    })
</script>
<script type="text/javascript" charset="utf-8">
    $("#q_country_id_eq").change(function(){
        var country = $(this).val();
        if(country == ''){
            $("#q_region_id_eq").prop("disabled", true);
        }else{
            $("#q_region_id_eq").prop("disabled", false);
        }
        $.ajax({
            url: "/locations",
            method: "GET",
            dataType: "json",
            data: {country: country},
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                var tasks = response["regions"];
                $("#q_region_id_eq").empty();

                $("#q_region_id_eq").append('<option>Select Region</option>');
                for(var i = 0; i < regions.length; i++){
                    $("#q_region_id_eq").append('<option value="' + regions[i]["id"] + '">' +regions[i]["name"] + '</option>');
                }
            }
        });
    });
</script>
