<div class="container px-6 py-10 mx-auto">
  <%= search_form_for(@q, url: locations_path) do |f| %>
      <div class="bg-white flex items-center rounded-full shadow-md border-w-0">
        <%= f.search_field :name_or_desc_cont, class:"rounded-l-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-white", id:"search", placeholder:"Pretraži" %>
        <div class="p-4">
          <button class="bg-green-200 text-white rounded-full p-2 hover:bg-green-300 focus:outline-none w-12 h-12 flex items-center justify-center">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    <a href="#"
       data-controller="counter"
       data-action="click->counter#increment"
    >Increment <%= @count %></a>

      <div data-controller="country"
           data-dependent-select-source-route-part="countries"
           data-dependent-select-target-route-part="regions"
           class="grid gap-4 mt-6 sm:grid-cols-2 md:grid-cols-5">
        <%#= f.collection_select :country_id_eq, Country.order(:name), :id, :name, :prompt => 'Select country'-->
                                 %>
        <%#= f.select :region_id_eq, [], {} %>
        <%= f.collection_select :zone_id_eq, Zone.order(:name), :id, :name,
                                class:"border-gray-100 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50",
                                :prompt => 'Zona' %>
        <%= f.collection_select :country_id_eq, Country.order(:name), :id, :name,
                                class:"border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50",
                                data: {action: "change->country#handleChange"},
                                :prompt => 'Odaberi Zemlju'%>
        <%= f.grouped_collection_select :region_id_eq, Country.order(:name), :regions, :name, :id, :name,
                                class:"border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50",
                                        include_blank: true,
                                        "data-option-dependent" => true,
                                        "data-option-observed" => "q_country_id_eq",
                                        "data-option-key-method" => :id,
                                        "data-option-value-method" => :name,
                                        :prompt => 'Odaberi Regiju' %>
        <%= f.collection_select :type_id_eq, Type.order(:name), :id, :name,
                                class:"border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50",
                                :prompt => 'Tip' %>
      <%= f.submit "Traži", class:"px-4 py-2 font-medium tracking-wide text-white capitalize bg-green-200 rounded hover:bg-green-300 focus:outline-none focus:bg-blue-500" %>
        <%= link_to "Reset", request.path, class: "focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-yellow-500 hover:bg-yellow-600 hover:shadow-lg" %>
    <% end %>
    </div>
  </div>
<script>
    $(document).on("change", ".year-selector", function () {
        $.ajax({
            url: "/car_brands/search.js",
            // now pass params[:year] as a query string
            data: { year: $(".year-selector").val() },
            type: "GET"
        });
    });
</script>



