<!--<div class="grid grid-rows-3 grid-flow-col gap-4">-->
<!--  <div class="row-span-3 ...">1</div>-->
<!--  <div class="col-span-2 ...">2</div>-->
<!--  <div class="row-span-2 col-span-2 ...">3</div>-->
<!--</div>-->
<section class="text-gray-200 bg-gray-900">
  <div class="max-w-6xl mx-auto px-5 py-24 ">
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/2  md:w-1/2 p-4">
        <div class="border border-gray-300 p-6 rounded-lg">
          <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
            <img alt="scubaboker", class="fill-current h-6 w-6" src=<%=asset_path("scuba_flag.png") %>>
          </div>
          <p class="text-sm text-gray-400 flex items-center uppercase">
            <%= @center.region.name %>
          </p>
          <h2 class="text-lg  font-medium title-font mb-2"><%= @center.name %></h2>
          <p class="leading-relaxed text-base"><%= @center.desc %></p>
          <!--            <div class="text-sm">-->
          <!--              <p class="text-blue-200 leading-none"><%#= center.contact %></p>-->
          <!--            </div>-->
          <p class="text-green-200"><%=@center.city %></p>
          <p class="text-purple-400"><%=@center.address %></p>

          <div class="text-center mt-2 leading-none flex justify-between w-full">
                <span class=" mr-3 inline-flex items-center leading-none text-sm  py-1 ">
                  <svg class=" fill-current w-4 h-4 mr-2 text-pink-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"/></svg>
                  Opremljenost:
                </span>
            <span class=" inline-flex items-center leading-none text-sm">
              <i class="las la-arrow-alt-circle-left"></i>
              <i class="las la-play-circle"></i>
              <i class="las la-arrow-alt-circle-right"></i>
<!--                  <svg width="22" height="22" xmlns="http://www.w3.org/2000/svg">-->
<!--                    <g fill="none" fill-rule="evenodd">-->
<!--                    <path fill="#D8D8D8" d="M9.2 6.583v11.08h3.5V6.583zm6.4 11.084h3.5V3h-3.5z"/>-->
<!--                    <path fill="#667EEA" d="M2.6 17.667h3.5v-7.334H2.6z"/></g></svg>-->
                    <i class="fas fa-allergies"></i>
                </span>
          </div>
          <div class="text-center mt-2 leading-none flex justify-between w-full">
                <span class=" mr-3 inline-flex items-center leading-none text-sm  py-1 ">
                  <svg class=" fill-current w-4 h-4 mr-2 text-green-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"/></svg>
                  Udaljenost
                </span>
          </div>
          <div class="text-center mt-2 leading-none flex justify-between w-full">
            <span class=" mr-3 inline-flex items-center leading-none text-sm  py-1 ">
              <svg class=" fill-current w-4 h-4 mr-2 text-purple-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"/></svg>
                  Ponuda
            </span>
          </div>
        </div>
        <div class="mt-8">

          <p class="text-xl font-semibold my-2 text-pink-500">Lokacije:</p>
          <div class="flex space-x-2 text-gray-400 text-sm">
            <!-- svg  -->
            <% @center.locations.each do |cc| %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
              <p>
              <%= link_to cc do %>
                <%= cc.name %>
                <% end %>
              </p>
              <% end %>
        </div>
        </div>
      </div>
      <div class="xl:w-1/1 md:w-1/2 p-4">
        <div class="border border-gray-300 p-6 rounded-lg">
          <img src="https://via.placeholder.com/550x300" alt="">
        </div>
        <div class="flex pt-4 mt-4">
          Galerija
        </div>
        <div class="grid grid-cols-4 gap-2 md:grid-cols-6 pt-2 mt-2">
          <div><img src="https://via.placeholder.com/150" alt=""></div>
          <div><img src="https://via.placeholder.com/150" alt=""></div>
          <div><img src="https://via.placeholder.com/150" alt=""></div>
          <div><img src="https://via.placeholder.com/150" alt=""></div>
          <div><img src="https://via.placeholder.com/150" alt=""></div>
          <div><img src="https://via.placeholder.com/150" alt=""></div>
        </div>
        <div class="flex  flex-wrap w-1/4 w-auto mt-12">
          <!-- Red Button -->
          <div class="border-2 border-green-300 rounded-lg px-3 py-2 text-green-200 cursor-pointer hover:bg-green-400 hover:text-green-800">
            Rezerviraj
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
