<div class="flex flex-col items-center justify-center bg-gray-300 h-screen select-none">
  <div class="flex flex-col -mt-32 bg-white px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-xl shadow-2xl w-full max-w-md  border-l-4 border-purple-600">
    <div class="font-medium self-center text-xl sm:text-2xl uppercase w-60 text-center bg-purple-600 shadow-2xl p-6 rounded-full text-white">Sign In</div>
    <div class="mt-10">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render 'shared/devisemes' %>
        <div class="relative w-full mb-3">
          <%= f.input_field :email,
                      type:'email',
                      required: false,
                      autofocus: true,
                      class:'border-0 p-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full',
                      placeholder:'Email',
                      input_html: { autocomplete: "email" } %>
          <small class="p-2 text-red-500">* Email</small>
        </div>
        <div class="relative w-full mb-3">
          <%= f.input_field :password,
                            type:'password',
                            required: false,
                            class:'border-0 p-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow
                            focus:outline-none focus:ring w-full',
                            placeholder:'password',
                            input_html: { autocomplete: "current-password" } %>
          <small class="p-2 text-red-500">* Password</small>
        </div>
        <%= f.input_field :remember_me, as: :boolean if devise_mapping.rememberable?%> Remember me
        <div class="text-center mt-6">
          <%= f.button :submit, "Sign In",
                       id:'signin',
                       class:'p-3 rounded-lg bg-purple-600 outline-none text-white shadow w-32 justify-centers
                        focus:bg-purple-700 hover:bg-purple-500'%>
        </div>
        <div class="flex flex-wrap mt-6">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
